<form class="profile-search-form" [formGroup]="searchForm">
  <label class="tt-form-label">
    <span class="tt-form-label__text">Name</span>
    <input type="text" class="tt-form-input" formControlName="firstName" />
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Surname</span>
    <input type="text" class="tt-form-input" formControlName="lastName" />
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Skills</span>
    <input type="text" class="tt-form-input" formControlName="stack" />
  </label>
</form>
